.outer-square {
  /* your css goes here */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
  height: 600px;
  width: 600px;
}
.inner-square {
  /* your css goes here */
  background-color: green;
  height: 190px;
  width: 190px;
}
.circle {
  /* your css goes here */
  background-color: blue;
  height: 190px;
  width: 190px;
  border-radius: 50%;
}
